










<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <!--Styles Css-->
    <link href="/font/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/style_feed.css" />
    <title>Fotobook-Login</title>
</head>

<body>


    <div class="container">



        <!-- 
        <div class="row justify-content-center mt-5"> -->   
        <h3 class="mb-0">
                                <a class="text-dark" href="#"><%= @albums.title_album%></a>
                            </h3>
                            <div class="mb-1 text-muted"><%= @albums.created_at%></div>
                            
        <!-- <script type="text/javascript " src="../JS/javascript.js "></script> -->
        <div class="row justify-content-center mt-5">
        <%@b.find do |account|%>
        
            <% @photo.each do |photo| %>
                <div class="col-md-4">
                    <div class="card flex-md-row mb-4 box-shadow ">
                        <div class="card-body d-flex flex-column align-items-start card_body_content">
                            
                            <strong class="d-inline-block mb-2 text-primary"></strong>
                            
                             <h6 class="mb-0">
                                Title_phot:
                                <a class="text-dark" href="#"><%= photo.title_photo%></a>
                            </h6>
                             <br>
                            <h3 class="mb-0">
                                Author:
                                <a class="text-dark" href="#"><%= account.last_name%></a>
                            </h3>
                            
                        </div>

                    </div>
                </div>
            <% end %>
        <%end%>
        </div>
    </div>


</body>




