

    <div class="container">



        <!-- 
        <div class="row justify-content-center mt-5"> -->   
        <h3 class="mb-0">
                                <a class="text-dark" href="#"><%= @albums.title_album%></a>
                            </h3>
                            <div class="mb-1 text-muted"><%= @albums.created_at%></div>
                            
        <!-- <script type="text/javascript " src="../JS/javascript.js "></script> -->
        <div class="row justify-content-center mt-5">
            <% @photos.each do |photo| %>
                <div class="col-md-4">
                    <div class="card flex-md-row mb-4 box-shadow ">
                        <div class="card-body d-flex flex-column align-items-start card_body_content">
                            
                            <strong class="d-inline-block mb-2 text-primary"></strong>
                            
                             <h6 class="mb-0">
                                Title_phot:
                                <a class="text-dark" href="#"><%= photo.title_photo%></a>
                            </h6>
                             <br>
                            <h3 class="mb-0">
                                Author:
                                <a class="text-dark" href="#"><%=@account.last_name%></a>
                            </h3>
                            
                        </div>

                    </div>
                </div>
            <% end %>
        </div>
    </div>






