<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congrats  <%= @account.email %></h1>
    <p>
     You have successfully registered your account. Welcome to NUS fucking world
    </p>
    
  </body>
</html>