<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="../CSS/style_feed.css">
    <link href="/asset/icon/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link href="/font/css/all.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>

    <nav class="nav-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                    <div class="nav-bar-brand">
                        <a href="#">Fotobook</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-3">
                    <div class="search-text">
                        <input type="text" name="search" id="search" placeholder="Search Photo / Album">
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                    <div class="account">
                        <div class="avatar">
                            <img src="https://picsum.photos/300">
                        </div>
                        <div class="name">
                            <span>Hieu Nguyen</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-3">
                    <div class="btn-log">
                        <a href="#">Log out</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row pt-1 out-card pb-5">
            <div class="col-lg-2 col-md-2 col-sm-2 col-12 p-0">
                <div class="left-col d-flex">
                    <ul class="list pt-4">
                        <li>
                            <a class="active" href="#">Feeds</a>
                        </li>
                        <li>
                            <a href="#">Discover</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mid-col col-lg-8 col-md-10 col-sm-10 col-12 p-0 pb-4">
                <div class="col-12 pl-0 pr-0">
                    <div class="pt-4 pb-4">
                        <div class="btn-select d-flex">
                            <a class="active" href="#">Photo</a>
                            <a href="#">Album</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="items mt-3 mb-3 d-flex">
                                <div class="col-6 p-0">
                                    <div class="left-item">
                                        <img src="https://picsum.photos/300" data-toggle="modal" data-target="#exampleModalCenter">
                                    </div>
                                </div>
                                <div class="col-6 p-2">
                                    <div class="right-item">
                                        <div class="header-item d-flex">
                                            <div class="circle-name">HN</div>
                                            <div class="name">Hieu Nguyen</div>
                                        </div>
                                        <div class="body-item">
                                            <h3 class="title">Lorem ipsum dolor sit.</h3>
                                            <p class="description m-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia soluta consectetur minus provident modi pariatur esse, ullam nihil ipsum! Corporis.</p>
                                        </div>
                                        <div class="footer-item d-flex justify-content-between" style="font-size: 12px;">
                                            <div class="reaction item_heart">
                                                <i class="fas fa-heart" id="icon_heart"></i>
                                                <span class="heart-count">123</span>
                                            </div>
                                            <div class="date-time">
                                                <span>4:56 pm 01/04/2020</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="items mt-3 mb-3 d-flex">
                                <div class="col-6 p-0">
                                    <div class="left-item">
                                        <img src="https://picsum.photos/300">
                                    </div>
                                </div>
                                <div class="col-6 p-2">
                                    <div class="right-item">
                                        <div class="header-item d-flex">
                                            <div class="circle-name">HN</div>
                                            <div class="name">Hieu Nguyen</div>
                                        </div>
                                        <div class="body-item">
                                            <h3 class="title">Lorem ipsum dolor sit.</h3>
                                            <p class="description m-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia soluta consectetur minus provident modi pariatur esse, ullam nihil ipsum! Corporis.</p>
                                        </div>
                                        <div class="footer-item d-flex justify-content-between" style="font-size: 12px;">
                                            <div class="reaction">
                                                <i class="fas fa-heart"></i>
                                                <span class="heart-count">123</span>
                                            </div>
                                            <div class="date-time">
                                                <span>4:56 pm 01/04/2020</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="items mt-3 mb-3 d-flex">
                                <div class="col-6 p-0">
                                    <div class="left-item">
                                        <img src="https://picsum.photos/300">
                                    </div>
                                </div>
                                <div class="col-6 p-2">
                                    <div class="right-item">
                                        <div class="header-item d-flex">
                                            <div class="circle-name">HN</div>
                                            <div class="name">Hieu Nguyen</div>
                                        </div>
                                        <div class="body-item">
                                            <h3 class="title">Lorem ipsum dolor sit.</h3>
                                            <p class="description m-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia soluta consectetur minus provident modi pariatur esse, ullam nihil ipsum! Corporis.</p>
                                        </div>
                                        <div class="footer-item d-flex justify-content-between" style="font-size: 12px;">
                                            <div class="reaction">
                                                <i class="fas fa-heart"></i>
                                                <span class="heart-count">123</span>
                                            </div>
                                            <div class="date-time">
                                                <span>4:56 pm 01/04/2020</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="items mt-3 mb-3 d-flex">
                                <div class="col-6 p-0">
                                    <div class="left-item">
                                        <img src="https://picsum.photos/300">
                                    </div>
                                </div>
                                <div class="col-6 p-2">
                                    <div class="right-item">
                                        <div class="header-item d-flex">
                                            <div class="circle-name">HN</div>
                                            <div class="name">Hieu Nguyen</div>
                                        </div>
                                        <div class="body-item">
                                            <h3 class="title">Lorem ipsum dolor sit.</h3>
                                            <p class="description m-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia soluta consectetur minus provident modi pariatur esse, ullam nihil ipsum! Corporis.</p>
                                        </div>
                                        <div class="footer-item d-flex justify-content-between" style="font-size: 12px;">
                                            <div class="reaction">
                                                <i class="fas fa-heart"></i>
                                                <span class="heart-count">123</span>
                                            </div>
                                            <div class="date-time">
                                                <span>4:56 pm 01/04/2020</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="items mt-3 mb-3 d-flex">
                                <div class="col-6 p-0">
                                    <div class="left-item">
                                        <img src="https://picsum.photos/300">
                                    </div>
                                </div>
                                <div class="col-6 p-2">
                                    <div class="right-item">
                                        <div class="header-item d-flex">
                                            <div class="circle-name">HN</div>
                                            <div class="name">Hieu Nguyen</div>
                                        </div>
                                        <div class="body-item">
                                            <h3 class="title">Lorem ipsum dolor sit.</h3>
                                            <p class="description m-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia soluta consectetur minus provident modi pariatur esse, ullam nihil ipsum! Corporis.</p>
                                        </div>
                                        <div class="footer-item d-flex justify-content-between" style="font-size: 12px;">
                                            <div class="reaction">
                                                <i class="fas fa-heart"></i>
                                                <span class="heart-count">123</span>
                                            </div>
                                            <div class="date-time">
                                                <span>4:56 pm 01/04/2020</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="items mt-3 mb-3 d-flex">
                                <div class="col-6 p-0">
                                    <div class="left-item">
                                        <img src="https://picsum.photos/300">
                                    </div>
                                </div>
                                <div class="col-6 p-2">
                                    <div class="right-item">
                                        <div class="header-item d-flex">
                                            <div class="circle-name">HN</div>
                                            <div class="name">Hieu Nguyen</div>
                                        </div>
                                        <div class="body-item">
                                            <h3 class="title">Lorem ipsum dolor sit.</h3>
                                            <p class="description m-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia soluta consectetur minus provident modi pariatur esse, ullam nihil ipsum! Corporis.</p>
                                        </div>
                                        <div class="footer-item d-flex justify-content-between" style="font-size: 12px;">
                                            <div class="reaction">
                                                <i class="fas fa-heart"></i>
                                                <span class="heart-count">123</span>
                                            </div>
                                            <div class="date-time">
                                                <span>4:56 pm 01/04/2020</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Model  -->
    <!-- Button trigger modal -->


    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <img src="https://picsum.photos/600" class="mx-auto d-block img-fluid">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="../JS/javascript.js"></script>
</body>

</html>