<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="../CSS/style_form_signup.css">
    <link href="/asset/icon/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link href="/font/css/all.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>

    <nav class="nav-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                    <div class="nav-bar-brand">
                        <a href="#">Fotobook</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-3">
                    <div class="search-text">
                        <input type="text" name="search" id="search" placeholder="Search Photo / Album">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-3">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-3">
                    <div class="btn-log">
                        <a href="#">Log out</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row pt-1 out-card pb-5">
            <div class="col-lg-4 col-md-4 col-sm-4 col-12 p-0"></div>
            <div class="mid-col col-lg-4 col-md-4 col-sm-4 col-12 p-0 pb-4">
                <div class="col-lg-12 col-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="div_title">
                                <a>Fotobook Signup</a>
                            </div>
                            <div class="card mt-1 card-logo  ">
                                <div class="card-body card_body_logo">
                                    <div class="div_logo">
                                        <img src="../Image/logo_google.png" class="img_logo float-left  ">
                                        <img src="../Image/logo_face.png" class="img_logo  ">
                                        <img src="../Image/logo_twitte.png" class="img_logo float-right">
                                    </div>
                                </div>
                            </div>
                            <form class="mt-3 card content-card-form" id="form_signup">
                                <div class="form-group">
                                    <label class="label_" for="text">First Name</label>
                                    <input type="text" class="form-control" name="text_Input_First_Signup" id="text_Input_First_Signup" placeholder="First Name">

                                </div>
                                <div class="form-group">
                                    <label class="label_" for="text">Last Name</label>
                                    <input type="text" class="form-control" name="text_Input_Last_Signup" id="text_Input_Last_Signup" placeholder="Last Name  ">
                                </div>
                                <div class="form-group">
                                    <label class="label_" for="emali">Email</label>
                                    <input type="email" class="form-control" name="email_Input_Signup" id="email_Input_Signup" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label class="label_" for="Password1">New Password</label>
                                    <input type="password" class="form-control" name="password_Input_Signup" id="password_Input_Signup" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label class="label_" for="Password1">Password Confirmation</label>
                                    <input type="password" class="form-control" name="password_Input_Confirm_Singup" id="password_Input_Confirm_Singup" placeholder="Password">
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary ">Signup</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-12 p-0"></div>
        </div>
    </div>
    <script src="../JS/javascript.js"></script>


</body>

</html>